@import url("fonts.css");
@import url("variables.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- Block HEADER ------------------------------- */

.header {
    width: 100vw;
    height: 120px;
    opacity: 0.94;
    box-shadow: 0px 2px 5px 0px var(--color-black-opacity);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 18px;
    width: 74.8%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 53px;
    height: 61px;
}

.logo__text {
    display: flex;
    flex-direction: column;
}

.logo__name {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 70px;
    line-height: 0.95;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-mine-shaft);
}

.logo__description {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 10.3px;
    line-height: 1.2;
    letter-spacing: 0.004em;
    color: var(--color-mine-shaft-light);
}

.header__menu {
    width: 35.1%;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-dove-gray);
}

.header__link:hover {
    color: var(--color-picton-blue);
}

/* ------------------------------- Block ABOUT ------------------------------- */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 74.8%;
}

.about__title {
    margin-top: 35px;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
    color: var(--color-picton-blue);
}

.about__subtitle {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-dove-gray);
}

.about__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    width: 100%;
}

.about__card {
}

.card {
    position: relative;
    width: 364px;
}

.card__image {
}

.card__description {
    padding: 58px 29px 25px;
    background: var(--color-mine-shaft);
}

.card:hover .card__description {
    background: var(--color-picton-blue);
}

.card__title {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
}

.card__text {
    margin-top: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-white);
    text-align: center;
}

.card__hexagon {
    position: absolute;
    top: 280px;
    left: 148px;
    width: 66px;
    height: 42px;
    background: var(--color-white);
}

.card__hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -14px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-bottom: 16px solid var(--color-white);
}

.card__hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -17px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-top: 18px solid var(--color-white);
}