@import url("fonts.css");
@import url("variables.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

/* ------------------------------- Block HEADER ------------------------------- */

.header {
    width: 100vw;
    height: 120px;
    opacity: 0.94;
    box-shadow: 0px 2px 5px 0px var(--color-black-opacity);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 18px;
    width: 1170px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 53px;
    height: 61px;
}

.logo__text {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.logo__name {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 70px;
    line-height: 0.95;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-mine-shaft);
}

.logo__description {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 10.3px;
    line-height: 1.2;
    letter-spacing: 0.004em;
    color: var(--color-mine-shaft-light);
}

.header__menu {
    width: 550px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-dove-gray);
}

.header__link:hover {
    color: var(--color-picton-blue);
}

/* ------------------------------- Block SLIDER ------------------------------- */

.slider {
    width: 100vw;
    height: calc(100vh - 120px);
}

.slider__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__item {
    width: 100%;
    height: 100%;
}

.slider__item img {
    width: 100%;
    height: 100%;
}

.slider__info {
    position: absolute;
    top: 25%;
    margin-left: 16%;
}

.slider__title {
    margin-left: 4px;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 157px;
    text-transform: uppercase;
    text-shadow: 0px 2px 6px var(--color-black-opacity50);
    color: var(--color-white);
}

.slider__subtitle {
    margin-top: -20px;
    margin-left: 9px;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 0px 2px 6px var(--color-black-opacity50);
    color: var(--color-white);
}

.slider__button {
    margin-top: 8px;
    margin-left: 10px;
    width: 240px;
    height: 56px;
    background: url('../img/background-card-active.png');
    border: none;
    outline: none;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.5s;
}

.slider__button:hover {
    background: url('../img/background-card.png');
}

.slick-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slick-track{
    display: flex;
}

.slick-slide{
    width: 100%;
    height: 100%;
}

.slick-arrow{
    position: absolute;
    top: calc(50% - 21px);
    width: 42px;
    height: 42px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 1;
}

.arrow {
    width: 42px;
    height: 42px;
    fill: var(--color-white);
    opacity: 0.3;
    cursor: pointer;
    transition: all 1s;
}

.arrow:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.slick-arrow.slick-prev{
    left: 40px;
}

.slick-arrow.slick-next{
    right: 40px;
    transform: rotate(180deg);
}

/* ------------------------------- Block ABOUT ------------------------------- */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* width: 74.8%; */
    width: 1170px;
}

.about__title {
    margin-top: 35px;
    color: var(--color-picton-blue);
}

.about__subtitle {
    color: var(--color-dove-gray);
}

.about__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 60px;
    width: 100%;
}

.about__card {
    cursor: pointer;
}

.card {
    position: relative;
    width: 364px;
}

.card__image {
}

.card__description {
    padding: 58px 29px 25px;
    background: url('../img/background-card.png');
}

.card:hover .card__description {
    background: url('../img/background-card-active.png');
}

.card__title {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
}

.card__text {
    margin-top: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-white);
    text-align: center;
}

.card__hexagon {
    position: absolute;
    top: 280px;
    left: 148px;
    width: 66px;
    height: 42px;
    background: var(--color-white);
}

.card__hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -14px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-bottom: 16px solid var(--color-white);
}

.card__hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -17px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-top: 18px solid var(--color-white);
}

/* ------------------------------- Block SERVICES ------------------------------- */

.services {
    width: 100vw;
    background: url('../img/background-services.png');
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* width: 74.8%; */
    width: 1170px;
}

.services__title {
    margin-top: 58px;
    color: var(--color-white);
}

.services__subtitle {
    color: var(--color-white);
}

.services__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 105px;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__image {
    position: relative;
    cursor: pointer;
}

.services__hexagon {
    width: 230px;
    height: 250px;
    fill: var(--color-white-opacity);
}

.services__icon {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 131px;
    height: 92px;
    fill: var(--color-white);
}

.icon-heart {
    top: 80px;
    left: 45px;
    width: 131px;
    height: 92px;
}

.icon-brain {
    top: 72px;
    left: 68px;
    width: 95px;
    height: 105px;
}

.icon-hnee {
    top: 58px;
    left: 92px;
    width: 50px;
    height: 132px;
}

.icon-human-bones {
    top: 78px;
    left: 76px;
    width: 86px;
    height: 96px;
}

.services__image:hover .services__hexagon {
    fill: var(--color-white);
}

.services__image:hover .services__icon {
    fill: var(--color-picton-blue);
}

.services__text {
    margin-top: 24px;
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-white);
}

/* ------------------------------- Block TEAM ------------------------------- */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* width: 74.8%; */
    width: 1170px;
}

.team__title {
    margin-top: 35px;
    color: var(--color-picton-blue);
}

.team__subtitle {
    color: var(--color-dove-gray);
}

.team__info {
    display: flex;
    margin-top: 46px;
    margin-bottom: 59px;
}

.team__doctor {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 234px;
}

.team__doctor:nth-child(2n) {
    flex-direction: column-reverse;
}

.team__image {
    width: 235px;
    height: 235px;
}

.team__triangle {
    position: absolute;
    top: 220px;
}

.team__triangle_rotate {
    top: 235px;
    transform: rotate(180deg);
}

.team__description {
    padding: 16px 10px 25px 14px;
    background: url('../img/background-card-active.png');
}

.team__description_active {
    background: url('../img/background-card.png');
}

.team__name {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
}

.team__text {
    margin-top: 10px;
    padding-right: 4px;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-white);
}

/* ------------------------------- Block CONTACT ------------------------------- */

.contact {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url('../img/background-contacts.png');
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* width: 74.8%; */
    width: 1170px;
    background: url(../img/background-services.png);
}

.contact__title {
    margin-top: 25px;
    color: var(--color-white);
}

.contact__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    padding: 0 29px;
}

.contact__info {
}

.contact__info-title {
    font-family: 'Chalet Comprime - Cologne Eighty';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--color-white);
}

.contact__list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.contact__date::before {
    content: "";
    margin-right: 11px;
    display: inline-block;
    vertical-align: baseline;
    width: 19px;
    height: 19px;
    background-image: url('../img/date.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.contact__address::before {
    content: "";
    margin-top: 2px;
    margin-right: 13px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: baseline;
    width: 13px;
    height: 20px;
    background-image: url('../img/address.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.contact__phone::before {
    content: "";
    margin-right: 13px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: baseline;
    width: 13px;
    height: 22px;
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.contact__fax::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: baseline;
    width: 22px;
    height: 22px;
    background-image: url('../img/fax.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.contact__email::before {
    content: "";
    margin-right: 11px;
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 20px;
    background-image: url('../img/email.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.contact__text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: var(--color-white);
}

.contact__description, .contact__link {
    margin-left: 3px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

.contact__link {
    text-decoration: none;
}

.contact__message {
    width: 500px;
}
.contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
}

.contact__input, .contact__textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 18px;
}

.contact__input::placeholder, .contact__textarea::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    color: var(--color-deep-sea-green);
    opacity: 0.8;
}

.contact__input {
    height: 40px;
    margin-bottom: 10px;
}

.contact__textarea {
    height: 138px;
    padding: 10px 18px;
    margin-bottom: 12px;
}

.contact__button {
    width: 180px;
    height: 50px;
    margin-bottom: 40px;
    background: url('../img/background-card.png');
    font-family: 'Chalet Comprime - Hong Kong Eighty';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;
}

/* ------------------------------- Block FOOTER ------------------------------- */

.footer {
    width: 100vw;
    height: 64px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
    /* width: 74.8%; */
    width: 1170px;
}

.footer__text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.2px;
    color: var(--color-black);
    opacity: 0.5;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 90px;
}

.footer__icon {
    fill: var(--color-silver-chalice);
    cursor: pointer;
}

.footer__icon:hover {
    fill: var(--color-picton-blue);
}

.footer__facebook {
    width: 12px;
    height: 24px;
}

.footer__twitter {
    width: 30px;
    height: 21px;
}

.footer__skype {
    width: 23px;
    height: 23px;
}

/* ------------------------------- Block BURGER ------------------------------- */

.burger {
    display: none;
    width: 20px;
    height: 20px;
}

.burger__icon {
    width: 20px;
    height: 20px;
}

/* ------------------------------- ADAPTIVE ------------------------------- */

@media (max-width: 1300px) {

    .header__container {
        width: 90%;
    }

    .slider__title {
        font-size: 100px;
    }

    .slider__subtitle {
        margin-top: -5px;
        font-size: 26px;
    }

    .slider__button {
        margin-top: 50px;
        width: 180px;
        height: 50px;
        font-size: 24px;
    }
    
}

@media (max-width: 992px) {

    .header__menu {
        width: 350px;
    }

    .header__link {
        font-size: 18px;
    }

    .slider__title {
        font-size: 60px;
    }

    .slider__subtitle {
        margin-top: 0px;
        margin-left: 5px;
        font-size: 16px;
    }

    .slider__button {
        margin-top: 50px;
        margin-left: 5px;
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .header__container {
        padding-top: 34px;
    }

    .header__menu {
        width: 250px;
    }

    .header__link {
        font-size: 14px;
    }
    
    .logo__image {
        width: 35px;
        height: 40px;
    }

    .logo__text {
        margin-left: 10px;
    }

    .logo__name {
        font-size: 40px;
    }

    /* .slick-arrow {
        width: 30px;
        height: 30px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }

    .arrow use {
        width: 30px;
        height: 30px;
    } */
}

@media (max-width: 550px) {
    .logo__description {
        width: 90px;
    }

    .logo__image {
        width: 40px;
        height: 48px;
    }
}

@media (max-width: 480px) {
    
    .burger {
        display: block;
    }

    .header__menu {
        display: none;
    }
}