:root {
    --color-black-opacity: rgba(0,0,0,0.3);
    --color-mine-shaft: #383838;
    --color-mine-shaft-light: #373737;
    --color-dove-gray: #737373;
    --color-picton-blue: #42b3e5;
    --color-white: #ffffff;
    --color-white-opacity: rgba(255, 255, 255, 0);
    --color-deep-sea-green: #084a5c;
    --color-silver-chalice: #b1b1b1;
    --color-black: #000000;
    --color-black-opacity50: rgba(0, 0, 0, 0.5);
}